/* Font-face custom agar bisa dipakai lokal */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

body {
    font-family: 'Inter' ,'Poppins';
}

main {
    margin: 0;
    padding-top: 20px;
    display: block;
    min-height: 92.1vh;
}

.img-cover {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}