/* Label kategori menu */
.name-option {
  color: #2E4A68;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  padding: 30px 30px 0 30px;
}

/* Sidebar container */
.side {
    margin: 10px 0;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3); /* Efek elevasi */
    width: 15%;
    background-color: #0C2644; /* Warna latar sidebar */
    min-height: 82.5vh; /* Tinggi minimum */
    position: fixed; /* Tetap di tempat saat scroll */
    top: 90px; /* Jarak dari atas halaman */
    left: 0;
    z-index: 1000; /* Agar ada di atas konten lain */
}

/* Link navigasi dalam sidebar */
.side >div> a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-weight: 400;
    padding: 10px 30px;
}

.side .active-menu:hover a {
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.35);
    background-color: #061222;
    transition: ease-in-out 0.3s;
}

.hover {
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.35);
    background-color: #061222;
}

/* Mini profil (kemungkinan styling gambar / box) */
.mini-profile{
    width: 85%;
}

/* Responsive Tablet */
@media (max-width: 992px) {
    body {
        font-size: 12px; /* Mengecilkan font global */
    }

    .side > a {
        margin-bottom: 20px;
        font-weight: 370;
    }

    .name-option {
        font-size: 13px;
    }
}

/* Responsive setengah layar */
@media (max-width: 915px) {
    .side {
        width: 135px;
    }
}

/* Responsive Mobile */
@media (max-width: 600px) {
    main {
      flex-direction: column;
      min-height: 85vh;  /* Sesuaikan tinggi konten */
    }

    .side {
      width: 100%; /* Sidebar jadi full width */
      min-height: auto;
      padding: 20px;
    }
}
