/* Label kategori menu */
.name-option {
  color: #2E4A68;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

/* Sidebar container */
.side {
    margin: 10px 0;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3); /* Efek elevasi */
    width: 15%;
    padding: 30px;
    background-color: #0C2644; /* Warna latar sidebar */
    min-height: 82.5vh; /* Tinggi minimum */
}

/* Link navigasi dalam sidebar */
.side > a {
    display: block;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    /* font-size: 100%; */
    font-weight: 400;
}

/* Efek hover link sidebar */
.side > a:hover {
    color: #D4AF37;
    text-decoration: none;
}

/* Mini profil (kemungkinan styling gambar / box) */
.mini-profile{
    width: 85%;
}

/* Responsive Tablet */
@media (max-width: 992px) {
    body {
        font-size: 12px; /* Mengecilkan font global */
    }

    .side > a {
        margin-bottom: 20px;
        font-weight: 370;
    }

    .name-option {
        font-size: 13px;
    }
}

/* Responsive setengah layar */
@media (max-width: 915px) {
    .side {
        width: 135px;
    }
}

/* Responsive Mobile */
@media (max-width: 600px) {
    main {
      flex-direction: column;
      min-height: 85vh;  /* Sesuaikan tinggi konten */
    }

    .side {
      width: 100%; /* Sidebar jadi full width */
      min-height: auto;
      padding: 20px;
    }
}
