.container-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: #f5f5f5;
}

.logout-box {
    margin-top: 10px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.logout-box h2 {
    margin-bottom: 10px;
}

.logout-box p {
    color: #555;
    margin-bottom: 20px;
}

.btn-log {
    display: inline-block;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button.btn-log {
    padding: 10px 18px;
}

a.btn-log {
    padding: 5px 18px;
}

.btn-logout {
    background: #e63946;
    color: white;
}

.btn-logout:hover {
    background: #d62828;
}

.btn-logout {
    padding: 11.5px 18px;
}

.btn-cancel-logout {
    background: #457b9d;
    color: white;
    text-decoration: none;
}

.btn-cancel-logout a {
    text-decoration: none;
    color: white;
}

.btn-cancel-logout:hover {
    background: #1d3557;
}

.detail-buku {
    background-color: rgb(245, 242, 242);
    padding: 15px;
    border-radius: 15px;
}