.table {
    background-color: white;
    box-shadow: 0 -4px 0 -1px #0066FF;
}

.table-pemustaka, .table-peminjaman {
    margin: 20px;
    padding: 50px;
    height: 100%;
}

.table-books{
    margin: 10px;
    padding: 3vw;
    height: 100%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.table caption {
    padding: 1vw;
    font-size: 1.7vw;
    font-weight: bold;
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.table th {
    background: #e0e0e0;
    font-weight: 600;
}

.table tbody tr:nth-child(even) {
    background: #fafafa;
}

.table tbody tr:hover {
    background: #f1f1f1;
}

.table table td:first-child {
    text-align: center;
}

/* Untuk Coloum Status */

td.status {
    text-transform: capitalize;
    gap: 10px;
}

td.status.pinjam {
    background-color: #28a745;
    color: white;
    font-weight: bold; 
}
td.status.kembali { 
    background-color: #6c757d;
    color: white; 
    font-style: italic; 
}
td.status.terlambat { 
    background-color: #ff5733;
    color: white; 
    font-style: italic; 
}
td.status.proses { 
    background-color: #ffc107;
    color: white; 
    font-weight: 600; 
}
td.status.rusak { 
    background-color: #dc3545;
    color: white; 
    font-weight: 600; 
}
td.status.hilang { 
    background-color: #343a40;
    color: white; 
    font-weight: 600; 
}

/* Tombol */
.btn {
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

td > a  {
    color: white;
    text-decoration: none;
}

.btn-edit {
    background: #3498db;
}

.btn-edit:hover {
    background: #2980b9;
}

.btn-delete {
    background: #e74c3c;
    margin-left: 5px;
}

.btn-delete:hover {
    background: #c0392b;
}

/* Link tambah buku */
.table a[href="add.php?tambah=true"] {
    display: inline-block;
    margin-top: 15px;
    background: #2ecc71;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.table a[href="add.php?tambah=true"]:hover {
    background: #27ae60;
}

.pinjam {
    margin-bottom: 50px;
}

@media (max-width: 1150px) {
    .table-books {
        margin: 20px;
        padding: 10px;
    }

    .table th,
    .table td {
        padding: 5px 8px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
}

/* HP / Mobile */
@media (max-width: 600px) {
    .table {
      width: 100%;
      padding: 10px;
    }

    table {
      font-size: 7px;
    }

    .table th,
    .table td {
        padding: 2px 5px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }

    .btn {
        padding: 3px 4px;
        font-size: 7px;
    }

    .table-pemustaka, .table-peminjaman {
        margin: 10px 3px;
        padding: 10px;
    }

    .table a[href="add.php?tambah=true"] {
        margin-top: 10px;
        padding: 3px 7px;
        font-size: 7px;
    }
}