@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf');
}

body {
    font-size: 16px;
    font-family: 'Inter' ,'Poppins';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e8f0ff 0%, #fff6e8 100%);
    background-color: #e8f0ff;
    width: 100%;
}

main {
    display: flex;  
    min-height: 100%;
}

.table {
    background-color: white;
    box-shadow: 0 -4px 0 -1px #0066FF;
}

.table-pemustaka, .table-peminjaman, .table-books{
    margin: 15px;
    padding: 20px;
    height: 100%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.table caption {
    padding: 1vw;
    font-size: 1.7vw;
    font-weight: bold;
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.table th {
    background: #e0e0e0;
    font-weight: 600;
}

.table tbody tr:nth-child(even) {
    background: #fafafa;
}

.table tbody tr:hover {
    background: #f1f1f1;
}

.table table td:first-child {
    text-align: center;
}

/* Untuk Coloum Status */

td.status {
    text-transform: capitalize;
    gap: 10px;
}

td.status.Pinjam {
    background-color: #28a745;
    color: white;
    font-weight: bold; 
}
td.status.Kembali { 
    background-color: #6c757d;
    color: white; 
    font-style: italic; 
}
td.status.Terlambat { 
    background-color: #ff5733;
    color: white; 
    font-style: italic; 
}
td.status.Proses { 
    background-color: #ffc107;
    color: white; 
    font-weight: 600; 
}
td.status.Rusak { 
    background-color: #dc3545;
    color: white; 
    font-weight: 600; 
}
td.status.Hilang { 
    background-color: #343a40;
    color: white; 
    font-weight: 600; 
}

/* Tombol */
.btn {
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

td > a  {
    color: white;
    text-decoration: none;
}

.btn-edit {
    background: #3498db;
}

.btn-edit:hover {
    background: #2980b9;
}

.btn-delete {
    background: #e74c3c;
    margin-left: 5px;
}

.btn-delete:hover {
    background: #c0392b;
}

/* Link tambah buku */
.table a[href="add.php?tambah=true"] {
    display: inline-block;
    margin-top: 15px;
    background: #2ecc71;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.table a[href="add.php?tambah=true"]:hover {
    background: #27ae60;
}

.pinjam {
    margin-bottom: 50px;
}

.main-profile {
    height: 100%;
    width: 40%;
    margin: 10% auto;
    padding: 2%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-profile h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.profile {
    background-color: white;
    padding: 20%;
    border-radius: 8px;
}

.detail-profile form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-profile input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.detail-profile a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    margin-right: auto;
}

.detail-profile a:hover {
    color: #1E90FF;
}

.detail-profile button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.detail-profile button:hover {
    background-color: #218838;
}

footer {
    width: 100%;
    background: gray;
    color: white;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 1150px) {
    .table-pemustaka, .table-peminjaman, .table-books {
        margin: 20px;
        padding: 15px;
    }

    .table th,
    .table td {
        padding: 5px 8px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
}

/* HP / Mobile */
@media (max-width: 600px) {
    .table {
      width: 100%;
      padding: 10px;
    }

    table {
      font-size: 7px;
    }

    .table th,
    .table td {
        padding: 2px 5px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }

    .btn {
        padding: 3px 4px;
        font-size: 7px;
    }

    .table-pemustaka, .table-peminjaman {
        margin: 10px 3px;
        padding: 10px;
    }

    .table a[href="add.php?tambah=true"] {
        margin-top: 10px;
        padding: 3px 7px;
        font-size: 7px;
    }
}