body {
    display: flex;
    margin: 0;
}

.side {
    width: 200px;
    padding: 30px;
    background-color: antiquewhite;
}

.side a {
    display: block;       /* agar link tersusun vertikal */
    margin-bottom: 30px;  /* jarak antar menu */
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.side a:hover {
    color: #000;
    text-decoration: underline;
}