@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf');
}

body {
    font-size: 16px;
    font-family: 'Inter' ,'Poppins';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e8f0ff 0%, #fff6e8 100%);
    background-color: #e8f0ff;
    width: 100%;
}

main {
    display: flex;  
    min-height: 100vh;
}

.name-option {
  color: #2E4A68;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.name-option.first {
  margin-top: 20px;
}

.side {
    margin: 10px 0;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    width: 15%;
    padding: 30px;
    background-color: #0C2644;
    min-height: 100vh;
}

.side > a {
    display: block;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
}

.side > a:hover {
    color: #1E90FF;
    text-decoration: none;
}

.mini-profile{
    width: 85%;
}

footer {
    width: 100%;
    background: gray;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* Tablet */
@media (max-width: 992px) {
    body {
        font-size: 12px;
    }

    .side > a {
        margin-bottom: 20px;
        font-weight: 350;
    }

    .name-option {
        font-size: 13px;
    }

    .name-option.first {
        margin-top: 13px;
    }
}

/* HP / Mobile */
@media (max-width: 600px) {
    main {
      flex-direction: column; 
    }

    .side {
      width: 100%;
      min-height: auto;
      padding: 20px;
    }
}
