@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf');
}

body {
    font-family: 'Inter' ,'Poppins';
    line-height: 1.6;
    display: flex;
    margin: 0;
    /* non-white pleasant gradient */
    background: linear-gradient(135deg, #e8f0ff 0%, #fff6e8 100%);
    background-color: #e8f0ff;
}

.name-option {
  color: #2E4A68;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.name-option.first {
  margin-top: 20px;
}

.side {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    width: 200px;
    padding: 30px;
    background-color: #0C2644;
}

.side > a {
    display: block;       /* agar link tersusun vertikal */
    margin-bottom: 30px;  /* jarak antar menu */
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.side > a:hover {
    color: #1E90FF;
    text-decoration: none;
}

.mini-profile {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    font-family: Arial, sans-serif;
}

.mini-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background: #ddd;
}

.mini-profile-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.mini-profile-info p {
    margin: 0;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.role {
    font-size: 13px;
    color: #555;
}

.touchable a {
    text-decoration: none;
    color: inherit;
}
