body {
    display: flex;
    margin: 0;
}

.side {
    width: 200px;
    padding: 30px;
    background-color: antiquewhite;
}
/* .side {
    position: fixed;      
    left: 0;
    top: 0;
    width: 200px;         
    height: 100%;         
    background: #f0f0f0;  
    padding: 20px;        
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
} */

.side a {
    display: block;       /* agar link tersusun vertikal */
    margin-bottom: 30px;  /* jarak antar menu */
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.side a:hover {
    color: #000;
    text-decoration: underline;
}