.name-option {
  color: #2E4A68;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.name-option.first {
  margin-top: 20px;
}

.side {
    margin: 10px 0;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    width: 15%;
    padding: 30px;
    background-color: #0C2644;
    min-height: 75vh;
}

.side > a {
    display: block;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
}

.side > a:hover {
    color: #1E90FF;
    text-decoration: none;
}

.mini-profile{
    width: 85%;
}

/* Tablet */
@media (max-width: 992px) {
    body {
        font-size: 12px;
    }

    .side > a {
        margin-bottom: 20px;
        font-weight: 350;
    }

    .name-option {
        font-size: 13px;
    }

    .name-option.first {
        margin-top: 13px;
    }
}

/* HP / Mobile */
@media (max-width: 600px) {
    main {
      flex-direction: column;
      min-height: 85vh; 
    }

    .side {
      width: 100%;
      min-height: auto;
      padding: 20px;
    }
}
